/* 
.Start-img{
   width:100vw;
   height:100vh;
   object-fit: contain;
   animation: fadeInOut 3s forwards; /* 持续时间为 2 秒，forwards 保持动画的最后状态 
}
@keyframes fadeInOut {
   0% {
      opacity: 0.3;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0.2;
   }
}
 */
 .svg {
   width: 468px;
   height: 186px;
 } 
 
 @media (max-width: 480px) {
   .svg{
   width: 180px;
   height: 300px;
   }
 }
 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
   justify-content: center;
   
 }
 .startPage{
   background-color:#FFBB8E;
   width: 100vw;
   height: 100vh;
        
 }


