.PieChart{
    position:absolute;
    top:31.5vh;
    left:50vw;
    transform:translate(-50%,-50%);
    width: 245px;
    height: 245px;
}

/* canvas{
    width: 200px;
    height: 200px;
}

.chart-container{
    width: 280px;
    height: 280px;
} */